@model ProjectLoremipsu.Models.property

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    textarea {
        width: 600px;
        height: 80px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        max-width: inherit;
    }
    .form-control {
        width: 200px;
    }
</style>


@using (Html.BeginForm("Create", "properties", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>property</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.description, "Thông tin bất động sản", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.address, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.property_size, "Diện tích", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.property_size, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.property_size, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.num_bedrooms, "Số phòng ngủ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.num_bedrooms, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.num_bedrooms, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.num_bathrooms, "Số phòng tắm", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.num_bathrooms, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.num_bathrooms, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.num_carspaces, "Số chỗ để xe", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.num_carspaces, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.num_carspaces, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.price, "Giá tiền", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.status_id, "Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("status_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.status_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.type_id, "Loại", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("type_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.type_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.location_id, "Quận", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("location_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.location_id, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<label>Upload Image 1:</label>
    <input type="file" name="Img1" />

    <label>Upload Image 2:</label>
    <input type="file" name="Img2" />

    <label>Upload Image 3:</label>
    <input type="file" name="Img3" />

    <label>Upload Image 4:</label>
    <input type="file" name="Img4" />*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo Bài Đăng" class="btn btn-default" style="background-color: #ffd803" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
