@model PagedList.IPagedList<ProjectLoremipsu.Models.property>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@foreach (var item in Model)
{
    <div class="columns">
        <div class="item">
            <div>
                @foreach (var image in item.images)
                {
                    <img src="@Url.Content(image.img1)" alt="Image of @item.address" class="fm-img" />
                }
            </div>
            <div class="listing-inner define_float">
                <h2>@Html.DisplayFor(modelItem => item.address)</h2>
                <span>@Html.DisplayFor(mdoelItem => item.property_location.description)</span>
                <span style="color: #272343;">@Html.DisplayFor(modelItem => item.property_type.description)</span>

                <ul>
                    <li>@Html.DisplayFor(modelItem => item.num_bedrooms) <i class="fa fa-fw fa-bed"></i></li>
                    <li>@Html.DisplayFor(modelItem => item.num_bathrooms) <i class="fa fa-fw fa-bath"></i></li>
                    <li>@Html.DisplayFor(modelItem => item.num_carspaces) <i class="fa fas fa-car" style="margin-right:10px;"></i></li>
                </ul>
                <p class="price">@Html.DisplayFor(modelItem => item.price)</p>
                <p class="btn btn-default">@Html.ActionLink("Chi tiết", "Details", "properties", new { id = item.property_id }, null)</p>
            </div>
        </div>
    </div>
}
<p></p>
<p></p>
<br />
<div class="container">
    <div class="pagination" style="margin:auto;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }))
    </div>
</div>


