@model ProjectLoremipsu.Models.image

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<h2>Details</h2>

<div>
    <h4>image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.property.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.property.description)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.image_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
