@using Microsoft.AspNet.Identity
@if (Session["Username"] != null)
{
    if (Session["Username"].ToString() == "Admins")
    {
        <li class="nav-item" style="text-decoration: none; margin-top: 10px;">
            <a href="~/Admin/HomeAdmin/Index" class="icon-nav" style="margin-top:10px; font-size:17px;">Admin</a>
        </li>
        <li class="nav-item" style="text-decoration: none; margin-top: 10px; margin-left: 20px;">
            <a href="@Url.Action("Logout","Account")" class="icon-nav" style="font-size: 17px; margin-top: 10px;">Đăng xuất</a>
        </li>
    }
    else
    {
        <li class="nav-item" style="text-decoration: none; margin-top: 10px;">
            <a href="@Url.Action("Index","Cart")" class="icon-nav" style="margin-top:10px;"><i class="fas fa-cart-shopping"></i></a>
        </li>
        <li class="nav-item" style="text-decoration: none; margin-top: 10px; margin-left: 20px;">
            <a href="@Url.Action("Logout","Account")" class="icon-nav" style="font-size: 17px; margin-top: 10px;">Đăng xuất</a>
        </li>
    }

}
else
{
    <li class="nav-item" style="text-decoration: none; margin-top: 10px;">
        <a href="@Url.Action("Register","Account")" class="icon-nav" style="font-size:17px;">Đăng ký</a>
    </li>
    <li class="nav-item" style="text-decoration: none; margin-top: 10px; margin-left:20px;">
        <a href="@Url.Action("Login","Account")" class="icon-nav" style="font-size:17px;">Đăng nhập</a>
    </li>
}
